/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.sidePadding {
  padding-left: 150px;
  padding-right: 150px;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 30px;
  border: 0;
  margin-right: 10px;
}

.subHeading {
  font-family: "PT Sans";
  font-size: 24px;
  color: #434343;
  font-weight: 700;
  line-height: 37px;
  margin: 0;
}

.subtext {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #434343;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  margin: 0;
}

.iconBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #00acb4;
  border-radius: 100%;
}

.icon {
  padding-top: 12px;
}

/* ******************************************************************************* */

.navbar {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #d9d9d9;
  display: flex;
  width: 190px;
  height: 90px;
  align-items: center;
  justify-content: center;
}

.logo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}

.navbarRight {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
}

.navbarRightTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;

  width: 270px;
  min-width: 180px;
  margin-left: auto;
}

.navbarRightTop > * {
  margin: 0;
  color: #000000;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.navbarSearchInput {
  outline: none;
  border: 0;
  width: 60px;
}

.navbarRightBottom {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarRightBottom a {
  text-decoration: none;
  font-weight: 700;
}

.navbarRightBottom .icon {
  display: none;
  padding: 14px 0;
  color: #434343;
}

/* **************************************************************** */

.home1 {
  background-color: #fff;
  padding: 30px;
}

.home1Top {
  display: flex;
  flex-direction: row;
}

.home1Heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 47px;
  margin: 0 0 20px 0;
  letter-spacing: 0.02em;

  color: #434343;
}

.home1BtnBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home1BtnBox > * {
  margin-top: 12px;
}

.home1BtnBox > *:first-child {
  margin-right: 16px;
}

.home1BtnBoxRigh > *:first-child {
  margin-right: 16px;
}

.home1Right {
  border: 0.5px solid #434343;
  border-radius: 8px;
}

.home1Right button {
  width: 100%;
  height: 55px;
  background: #dc3636;
  border: 0;
  border-radius: 0 0 8px 8px;

  font-family: "PT Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.home1RightSub {
  display: flex;
}

.home1RightSub > * {
  width: 50%;
  text-align: center;
  padding: 16px;
}

.home1bottom {
  display: flex;
  margin-top: 30px;
}

.home1bottom > * {
  display: flex;
  border-right: 0.8px solid #828282;
  width: 33%;
}

.home1bottom > * .icon {
  padding: 12px 20px;
  color: #dc3636;
}

/* **************************************************************** */

.home2 {
  margin-top: 24px;
  display: flex;
}

.home2Left {
  background-color: #fff;
  padding: 32px;
}

.home2Left .subtext {
  line-height: 28px;
  margin-bottom: 30px;
}

.home2IconsContainer {
  padding-bottom: 20px;
  border-bottom: 0.8px solid #828282;
  margin-bottom: 30px;
}

.home2IconsContainer .iconBtn {
  background-color: #bebebe;
  border-radius: 100%;
  border: 0;
  padding: 3px;
  width: 24px;
  height: 24px;
}

.schedule .subHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.schedule .dateContainer {
  display: flex;
}

.schedule .dateContainer > * {
  padding: 0 10px;
}

.home2Right {
  min-width: 400px;
  width: 400px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    #f39b4e;
  padding: 32px;
}

.home2Right .imageContainer {
  text-align: center;
  margin: 0px auto 32px;
  width: fit-content;
}

.home2Right .imageContainer img {
  border-radius: 100%;
}

.home2Bottom {
  padding: 36px 80px;
  background-image: url("image/home2Bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home2BottomContainer {
  display: flex;
  padding: 45px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.home2Bottom .subtext {
  font-size: 24px;
  text-align: center;

  line-height: 34px;
}

.home2IconImgContainer {
  margin: auto 30px;
}

/* **************************************************************** */

.home3 {
  background-color: #fff;
  margin-top: 24px;
  padding: 32px;
}

.home3Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home3Container > * {
  min-width: 300px;
  width: 300px;
  margin-top: 30px;
}

.linkMore {
  display: inline-block;
  text-decoration: none;
  color: #dc3636;
  margin-top: 16px;
}

.CancelationContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CancelationContainer > * {
  max-width: 264px;
  min-width: 250px;
  margin-top: 30px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #434343;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footerLinkContainer {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}

.footerLinkContainer > * {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.footerTopRight {
  min-width: 380px;
}

.footerSubHeading {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.footerInputContainer {
  display: flex;
  text-align: center;
  padding: 3px;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
}

.footerInput {
  display: inline-block;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  border-radius: 30px;
  color: #787579;
  border: 0;
  outline: none;
}

.footerInput:focus {
  border: 0;
}

.footerContact {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.footerContact .footerIconsContainer {
  padding-bottom: 12px;
  margin-top: 20px;
}

.footerContact .footerIconsContainer .iconBtn {
  border-radius: 100%;
  border: 0;
  padding: 3px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.footer .footerPrivacy {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer .footerPrivacy > * {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 30px 110px;
  }

  /* ****************************************** */

  .navbarRightBottom .navLink {
    display: none;
  }

  .navbarRightBottom a.icon {
    display: block;
    margin-left: auto;
    margin-top: 18px;
  }

  .navbarRightBottom.responsive {
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  .navbarRightBottom.responsive .navLink {
    display: block;
    margin-bottom: 10px;
  }

  /* *************************************** */

  .sidePadding {
    padding-left: 130px;
    padding-right: 130px;
  }

  .home1Heading {
    font-size: 30px;
    line-height: 40px;
  }

  .home1bottom {
    flex-wrap: wrap;
  }

  .home1bottom > * {
    width: 49%;
  }

  .home1bottom > *:last-child {
    margin-top: 20px;
  }

  .home2Right {
    min-width: 330px;
    width: 330px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 30px 80px;
  }

  .sidePadding {
    padding-left: 100px;
    padding-right: 100px;
  }

  .home1Top {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .home1BtnBox {
    width: fit-content;
    margin: 0 auto 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home1bottomContainer {
    width: fit-content;
    width: 295px;
    margin: 0 auto;
  }

  .home1bottom > * {
    display: flex;
    border-right: 0;
    width: 100%;
    margin-top: 20px;
  }

  .home2 {
    flex-wrap: wrap;
  }

  .home2Right {
    min-width: 200px;
    width: 100%;
  }

  .home2Bottom {
    padding: 36px 50px;
  }

  .footerTop {
    flex-wrap: wrap;
  }

  .footerLinkContainer {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 30px 60px;
  }

  .sidePadding {
    padding-left: 80px;
    padding-right: 80px;
  }

  .home1Heading {
    font-size: 24px;
    line-height: 36px;
  }

  .subHeading {
    font-size: 20px;
    line-height: 28px;
  }

  .subtext {
    font-size: 14px;
    line-height: 20px;
  }

  .home2Left {
    padding: 20px;
    width: 100%;
  }

  .home2Right {
    padding: 20px;
    width: 100%;
  }

  .home2Bottom {
    padding: 30px;
  }

  .home2BottomContainer {
    padding: 45px 0px;
  }

  .home2Bottom .subtext {
    font-size: 18px;
    text-align: center;

    line-height: 28px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 30px 30px;
  }

  .sidePadding {
    padding-left: 50px;
    padding-right: 50px;
  }

  .home1 {
    padding: 30px 10px;
  }

  .home1BtnBoxRight {
    width: 100%;
  }

  .home1BtnBox > *:first-child {
    margin-right: 0;
  }

  .home1BtnBoxRigh > *:first-child {
    margin-right: 12px;
  }

  .home2IconImgContainer {
    margin: auto 10px;
  }

  .home2IconImgContainer > img {
    scale: 0.7;
  }

  .home3Container > * {
    min-width: 200px;
    width: 300px;
  }

  .footerTopRight {
    min-width: 280px;
    max-width: 380px;
    width: 100%;
  }

  .navbarRightTop {
    width: 160px;
  }

  .navbarRightTop p:nth-child(2) > *:nth-child(2) {
    display: none;
  }

  .navbarRightTop p:nth-child(3) > *:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .sidePadding {
    padding-left: 30px;
    padding-right: 30px;
  }

  .home2IconImgContainer {
    margin: auto 4px;
  }

  .home2BottomContainer {
    padding: 24px 0px;
  }

  .home2IconImgContainer > img {
    scale: 0.5;
  }

  .home2Bottom .subtext {
    font-size: 14px;
    text-align: center;

    line-height: 20px;
  }
}
